*{
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 250, 250);
    font-family: Helvetica, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

.error{
    color: red;
}

.hidden{
    display: none;
}

/* nav.inc.php */
.navbar{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    color: white;
    position: fixed;
}
.navbar_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0;
}
.navbar_top h2{
    font-size: 200%;
    color: rgb(75, 75, 245);
}
.user_links{
    font-size: 90%;
}
.navbar_bottom{
    display: flex;
    justify-content: left;
    gap: 1em;
    padding: 10px;
    width: 100%;
    align-items: center;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(100, 100, 255);
}
.navbar_bottom a + a {
    border-left: 1px solid white;
    padding-left: 10px;
}
.logo img{
    width: 5em;
    height: 5em;
}

/* index.php */
.accessorize{
    padding-top: 200px;
    margin-left: 5%;
    margin-right: 5%;
}
.collection{ /*alle producten*/
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  grid-gap: 2em;
}
.collection_link{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.collection_product img{
    width: 10em;
    height: 10em;
    border-radius: 0.5em;
    align-self: center;
}
.collection_product{
    background-color: rgb(210, 210, 250);
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    padding: 0.5em;
    height: 20em;
}
.product_title{
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    color: black;
}
.product_price{
    position: static;
    right: 10px;
    font-size: 100%;
    font-weight: bold;
    color: rgb(75, 75, 245);
    text-align: right;
}

/* product.php */
.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em auto;
    gap: 2em;
}
.product_thumbnail{
    width: 300px;
    height: 300px;
}
.product_imgs{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 1em;
}
.product_imgs img{
    width: 100px;
}
.product_description{
    font-style: italic;
}
.updateProductbtn{
    background-color: rgb(75, 75, 245);
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.addToCartbtn{
    background-color: rgb(75, 75, 245);
    color: white;
    text-decoration: none;
    font-size: 110%;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}
.addToCartbtn:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.reviews{
    background-color: rgb(210, 210, 250);
    border-radius: 0.8em;
    margin: 1em;
    padding: 0px 5px 30px 5px;
}
.reviews_form{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.reviews_form input{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
}
#addReviewbtn{
    width: 30%;
    background-color: rgb(75, 75, 245);
    color: white;
    text-decoration: none;
    font-size: 110%;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}
#addReviewbtn:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.reviews_list{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: -1em;
}
.reviews_list li{
    width: 90%;
    list-style-type: none;
    padding: 10px 5px;
}

/* AddProduct.php */
.new_product{
    background-color: rgb(210, 210, 250);
    padding: 10px;
    padding-top: 200px;
    margin: 1.5em;
    font-weight: bold;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.new_product input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
}
#category{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
    font-size: medium;
}

.new_product label{
  display: block;
  margin-bottom: 0.2em;
}

.addbtn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: rgb(75, 75, 245);
    color: white;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

.addbtn:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* userInfo.php */
.user_info{
    padding: 20px;
    padding-top: 250px;
    margin: 1em auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.user_info a{
    width: 50%;
    color: white;
    text-decoration: none;
    background-color: rgb(75, 75, 245);
    padding: 10px;
    border-radius: 7px;
    text-align: center;
}
.user_info a:hover{
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.5);
}

/* changePassword.php */
.change_password{
    background-color: rgb(210, 210, 250);
    padding: 10px;
    margin: 1.5em;
    font-weight: bold;
    border-radius: 0.8em;
}

.change_password input{
    width: 100%;
    padding: 10px;
    margin: 10px 0px 30px 0px;
    border-radius: 7px;
}

.changePasswordBTN{
    border: none;
    background-color: rgb(75, 75, 245);
    color: white;
    font-size: larger;
    cursor: pointer;
}

/* cart.php */
.cart {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.cart-header, .cart-row, .cart-footer {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
}

.cart-header {
    font-weight: bold;
    background-color: rgb(220, 220, 220);
}

.cart-footer {
    border-top: 2px solid #333;
    background-color: #f1f1f1;
    font-weight: bold;
}

.cart-column {
    flex: 1;
    text-align: left;
    padding: 4px 8px;
}

.cart-column.cart-total-label {
    text-align: right;
    flex: 3;
}

.cart-column.cart-total-value {
    flex: 1;
    text-align: left;
    font-size: 1.2em;
    color: #333;
}

.remove-link {
    color: red;
    text-decoration: none;
}

.remove-link:hover {
    text-decoration: underline;
}

/* orders.php */
.order {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 2px solid #333;
}