*{
    box-sizing: border-box;
}

body{
    background-color: rgb(55, 55, 55);
    font-family: Helvetica, sans-serif;
    color: black;

}

.hidden{
    display: none;
}

.error{
    color: red;
}


.form_field{
    width: 100%;
    max-width: 500px;
    margin: 10em auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form_field input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.form__field label
{
  display: block;
  margin-bottom: 0.2em;
}

.admin{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.admin input{
    width: 20px;
    height: 20px;
    margin-left: 30px  ;
}

.btn_submit{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: rgb(42, 45, 180);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btn_submit:hover{
    background-color: rgb(42, 45, 220);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}