*{
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 250, 250);
    font-family: Helvetica, sans-serif;
    color: black;

}

.hidden{
    display: none;
}

.navbar{
    background-color: #ff0000;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
/* .navbar_top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}
.navbar_bottom{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
} */