*{
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 250, 250);
    font-family: Helvetica, sans-serif;
    color: black;

}

.hidden{
    display: none;
}

.navbar{
    background-color: red;
    display: flex;
    justify-content: space-between;
}