*{
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 250, 250);
    font-family: Helvetica, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
}

.error{
    color: red;
}

.hidden{
    display: none;
}

/* nav.inc.php */
.navbar{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
    color: white;
}
.navbar_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: 0;
}
.navbar_top h2{
    color: rgb(75, 75, 245);
}
.navbar_bottom{
    display: flex;
    justify-content: left;
    gap: 1em;
    padding: 10px;
    width: 100%;
    align-items: center;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(75, 75, 245);
}
.navbar_bottom a + a {
    border-left: 1px solid white;
    padding-left: 10px;
}
.search{
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.search input{
    width: 100%;
    height: 25px;
}
.logo img{
    width: 70px;
    height: 70px;
}


/* index.php */
.accessorize{
    margin-left: 5%;
    margin-right: 5%;
}
.collection{ /*alle producten*/
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  grid-gap: 2em;
}
.collection_link{
    width: 100%;
}
.collection_product img{ /*image van de producten*/
    width: 10em;
    height: 10em;
}


/* product.php */
.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em auto;
    gap: 2em;
}
.product_thumbnail{
    width: 300px;
    height: 300px;
    /*make sure picture is only*/
}
.product_imgs{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 1em;
}
.product_imgs img{
    width: 100px;
}

/* AddProduct.php */
.profile{
    width: 100%;
    max-width: 700px;
    margin: 5em auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(120, 120, 120, 0.5);
}

.new_product{
    background-color: rgb(176, 176, 201);
    padding: 20px;
    margin: 1em auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.new_product input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
}
#category{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
    font-size: medium;
}

.new_product label{
  display: block;
  margin-bottom: 0.2em;
}

.addbtn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: rgb(75, 75, 245);
    color: white;
    font-size: larger;
    border-radius: 10px;
    cursor: pointer;
}

.addbtn:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* userInfo.php */
.change_password{
    background-color: rgb(210, 210, 250);
    padding: 20px;
    margin: 1em auto;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.change_password input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
}